* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100svh;
}

header {
  background: rgb(15, 15, 214);
  background: linear-gradient(45deg, rgb(15, 15, 214) 0%, rgb(5, 1, 32) 60%);
  display: block;
  max-width: 100%;
  max-height: 20vh;
  font-size: 50px;
  border: 1px black solid;
}

main {
  display: flex;
  border: 1px black solid;
}

.my-renders {
  border: 1px black solid;
}

img {
  max-height: 250px;
  border: 1px black solid;
}

section {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

figure {
  display: flex;
  border: 1px black solid;
  margin: 5px;
}

.image-description {
  display: flex;
  border: 1px black solid;
  max-width: 100px;
  padding-left: 5px;
}

a {
  margin: 5px;
  max-height: 20px;
  text-decoration: none;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: background-color 0.15s;
  cursor: pointer;
}

a:hover {
  background-color: rgb(253, 53, 53);
}
